<h2><%= @performance.name %></h2>
<p><%= @performance.city %></p>
<p><%= @performance.price %></p>

<hr>

<p><%= @performance.venue %></p>
<p><%= @performance.date %></p>

<hr>

<p><%= @performance.highlight %></p>
<p><%= @performance.description %></p>
<a href="">View more</a>
